@model CustomerOrdersViewModel
@{
    ViewData["Title"] = "Declarations";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product Link</th>
                        <th>Turkey cargo price</th>
                        <th>Price</th>
                        <th>Order Count</th>
                        <th>Order Note</th>
                  
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Product Link</th>
                        <th>Turkey cargo price</th>
                        <th>Price</th>
                        <th>Order Count</th>
                        <th>Order Note</th>

                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (Model.Orders.Count > 0)
                    {
                        @foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td>@order.ProductLink</td>
                                <td>@order.TurkeyCargoPrice</td>
                                <td>@order.Price</td>
                                <td>@order.OrderCount</td>
                                <td>@order.OrderNote</td>
                              
                                <td><a asp-action="EditOrder" asp-controller="Customer" asp-route-id="@order.Id" class="btn btn-warning text-light">Edit</a></td>
                            </tr>
                        }
                    }



                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>

    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/datatables-demo.js"></script>
    <script src="~/admin/js/customJs/userIndex.js"></script>
}


